.review{
    width: 60rem;
    padding: 0.8rem;
    box-shadow:2px 5px 15px 0px rgba(207,207,207,.5);
    border: none;
}

.fa-star{
    color:#FDA705;
    font-size: 1.2rem;
}

.fa-thumbs-up{
    font-size: 1.2em;
    color: #6D7BC0;
    padding-right: 0.3rem;
}

#likes{
    color: #6D7BC0;
}

#col-text{
    border-top: 0.8px solid rgba(116, 116, 116,.4);
    margin: 0.5em 0 1em 0;
}

#text{
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(141, 141, 141, 0.4);
    padding: 0.5em;
    color: rgb(48, 48, 48);
}