/*
 *---------------------------------------------------------------
 *---------------- BKT WEB PAGE CSS STYLE SHEET -----------------
 *---------------------------------------------------------------
*/

#btn-login {
    color: white;
    background-color: #8293E3;
    border-radius: 4px;
    border: none;
    font-family: 'Raleway', sans-serif;
    
}

#btn-login:hover {
    background-color: #6d7bc0;
}

#nav {
    background-color:  #f2f3f7;
    width: 100%;
}

body {
    background-color: lightgray;    /*Es este color sólo para debuggear cómo se ve la barra de navegación*/
    color: rgb(48, 48, 48) !important; /*Sé que no está bien poner "!important" pero si no, bootstrap no me deja u_u att: Juli */
}

#btn-inicio, #btn-becas, #btn-financiacion, #btn-comparador {
    color: black;
}

#btn-inicio:hover, #btn-becas:hover, #btn-financiacion:hover, #btn-comparador:hover {
    color: #8293E3;
    text-decoration: underline;
}

.wrap{
    padding: 0 4em;
}

button {
    font-family: 'Raleway', sans-serif;
}

.carousel-inner img {
    margin: auto;
    height: 400px;
    width: 800px;
    filter: contrast(50%);
  }

.carousel-size{
    width: 70%;
    font-weight: 500;
  }